.WeatherForecast {
  text-align: center;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}

.WeatherForecast-temperatures {
  margin-top: 40px;
  margin-right: 2px;
}

.WeatherForecast-day {
  margin-top: 20px;
  margin-bottom: 10px;
}

.WeatherIcon-icon {
  margin-left: 5px;
}
