.Weather {
  font-family: Arial, sans-serif;
  border: 1px solid #dadde1;
  border-radius: 5px;
  color: #878787;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 48px;
  width: 48px;
  margin-right: 10px;
  margin-top: -35px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.Weather .celsius-unit,
.fahrenheit-unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;

  line-height: 1;
}
